<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
    <nav class="navbar navbar-fixed-top" style=" background-color: rgb(8, 4, 4); background: linear-gradient(rgb(11, 17, 10), rgba(0, 0, 0, 0.5)); padding: 15px;">
  <!-- <nav class="navbar navbar-inverse" style="background-color:rgb(92, 92, 3);"> -->
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'all' %}" style="color:rgb(250, 250, 250);"><span class="glyphicon glyphicon-home" ></span></a>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/location/3">Nairobi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/location/2">Mombasa</a>
        </li> -->

      </div>
      <a class="navbar-brand" href="{% url 'uploadsToday' %}" style="color:rgb(250, 250, 250); "><span>Today's uploads</span></a>


     

<!-- Adding a search form  -->
<div class="col-sm-4 col-md-4 navbar-right">

    <form class="navbar-form" role="search" action="{% url 'search_results' %}">

      <div class="input-group">
        <input style="color:black" type="text" class="form-control" placeholder="Search Gallery" name="category">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>

    </form>
  </div>
  <!-- search form end -->

    </div>



    
  </nav>
  <br>
  <br>
  <br>
  
  
</body>

</html>