{%extends 'posts/base.html'%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<div class="container"  >
<div class="row">

  




    <div style='text-align:center;'>
        <h3 style='text-align: center;margin: 55px 0px;border-bottom: 2px solid #666; display:inline-block;padding-bottom:10px'>Bootstrap Carousel Fade In & FadeOut</h3>
        </div>
            <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
        
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">  
                        <div class="carousel-caption">
                          <h3>First slide label</h3>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                    <div class="item"> 
                        <div class="carousel-caption">
                          <h3>Second slide label</h3>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                    <div class="item"> 
                        <div class="carousel-caption">
                          <h3>Third slide label</h3>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
        
                <!-- Controls -->
                <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
      {% for image in al %}
     






      
   <div class="col-md-4">   
       
     <div class="card">
        <div style="text-align:center ; " class="panel panel-secondary panel-footer" > 
            <strong> <h2 style="font-family: 'Tangerine', cursive;">{{image.name}}</h2></strong>

           
          </div>
      <a href="/image/{{image.id}}">
        <img style=" height:300px; width:358px;" src="{{image.image.url}}" class="w3-border w3-padding" alt="Image">
      
        </a>
        <div class="panel panel-secondary panel-footer">
            <P>Location:{{image.location}}</P>
     <small> <em> <strong> Posted {{image.pub_date|timesince}} ago.</strong></em></small>
    </div>
    </div> 
      </div>
    
  
 
    {% endfor %}
  
  </div>
</div>

  
  {% endblock %}