{%extends 'posts/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <h1 class='text-center' style="font-family: 'Chicle', cursive; color: deepskyblue">{{date|date:"l d-F Y"}}</h1>

       
    <!-- Looping through news   -->
    {% for upload in uploads %}

  
    
      <!-- displaying News articles -->
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

          <h1 class="text-center" style="font-family: 'Chicle', cursive;color: rgb(12, 169, 221)">Location: {{ upload.location }} </h1>
        <h3 class="text-center" style="color: lightskyblue"> {{ upload.name }} </h3>
        <a href="/image/{{upload.id}}">
        <img style="border-radius:10%; height:400px; width:400px;" src="{{upload.image.url}}" class="img-responsive" alt="Image">
       </a>

      </div>
  
  
    
  
    {% empty %}
    <div class="row">
        <h2 class="text-center">NO UPLOADS FOR TODAY<img src="https://i.pinimg.com/originals/11/3f/60/113f60be580a09ef0027073423d98f0f.gif">NO UPLOADS FOR TODAY</h2>
    </div>
    {% endfor %}
  </div>
  </div>
  
  {% endblock %}