
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">

{%extends 'posts/base.html'%} 

{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} item of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the item you have searched for. {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% for image in images %}
  <div class="col-md-4">

    <div class="card">
      <div style="text-align:center ; " class="panel panel-secondary panel-footer">
         <h1 style="font-family: 'Tangerine', cursive; color: rgba(0, 0, 0, .9)"><strong>{{image.name}}</strong></h1>


      </div>
      <a href="/image/{{image.id}}">
        <img style=" height:300px; width:358px;" src="{{image.image.url}}" class="w3-border w3-padding" alt="Image">

      </a>
      <div class="panel panel-secondary panel-footer">
        <P>Location:{{image.location}}</P>
        <small> <em> <strong> Posted {{image.pub_date|timesince}} ago.</strong></em></small>
      </div>
    </div>
  </div>



  {% endfor %}
  
  </div>
</div>
{% endblock %}